// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$theme-orange: #EB723D;
$theme-green: #04DB98;
$theme-purple: #2C3266;
$theme-background-dark: #0A0E27;
$theme-card-dark: #171C3A;
$text-light: whitesmoke;
