.team-member {
  width: 300px;
  margin: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  transition: all 0.3s;
  box-sizing: content-box;
  border-bottom: 3px solid transparent;

  &:hover {
    border-bottom: 3px solid $theme-green;
    box-shadow: 2px 2px 2px $theme-purple;
  }


  p {
    margin-top: 8px;
    color: whitesmoke;
  }

  h2, h4{
    margin: .5rem 0;
    font-weight: 500;
    line-height: 1.2;
    color: white
  }
}

.photo {
  border-radius: 50%;
  max-width: 100px;
  display: block;
  margin: 0 auto;
  width: 98px;
  height: 100px;
}

.write-up {
  margin-top: 70px ;
  height: 100%;
  color: white;
}
