.color-purple {
  color: $theme-purple;
}

.color-green {
  color: $theme-green;
}

.purple-gradient-bg {
  background: rgb(5,29,53);
  background-image: linear-gradient(35deg, $theme-card-dark 10%, $theme-purple 100%);
}

.min-width {
  width: max-content;
  padding: 0 1rem;
}

.max-content{
  width: max-content;
}
