<% if controller_name == "users" %>
  <% cardname = item[0].name %></h2>
  <% cardprice = item[1].amount %>
<% else %>
  <% cardname = item.name %></h2>
  <% cardprice = item.amount %>
<% end %>

<div class="source-card transparent-card p-2 d-flex flex-row align-items-center">
  <div class="rounded-circle mx-1">
    <i class="fa-solid fa-lightbulb"></i>
  </div>
  <div class="d-flex flex-column ms-2">
    <p class="mb-0 fs-6"><%= cardname.titleize %></p>
    <h3 class="mb-0 fs-6"><%= number_to_currency(cardprice , unit: "£")%></h3>
  </div>
</div>
