<div class="footer d-flex align-items-center">
  <div class="container">
    <div class="footer-links">
      <p> Made by: </p>
      <a href="https://github.com/zzdevzz" target="_blank" class="avatar-link">
        <img class="avatar-bordered" src="https://avatars.githubusercontent.com/u/22123122?v=4" />
      </a>
      <a href="https://github.com/Lamarr1997" target="_blank" class="avatar-link">
        <img class="avatar-bordered" src="https://avatars.githubusercontent.com/u/161642162?v=4" />
      </a>
      <a href="https://github.com/Glowrare1" target="_blank" class="avatar-link">
        <img class="avatar-bordered" alt="avatar-bordered" src="https://avatars.githubusercontent.com/u/162614328?v=4" />
      </a>
    </div>
  </div>
  <div class="footer-copyright me-4">
    Disclaimer: this tool does not constitute finacial advise.
  </div>
</div>
