<div class="container">
  <div class="team">
    <div class="heading"><h2>The brilliant minds behind Clearmoney says:</h2></div>
    <a href="https://github.com/zzdevzz" class="team-member" target="_blank">
      <img class="photo" src="https://avatars.githubusercontent.com/u/22123122?v=4" />
    </a>

    <a href="https://github.com/Lamarr1997" class="team-member" target="_blank">
      <img class="photo" src="https://avatars.githubusercontent.com/u/161642162?v=4" />
    </a>

    <a href="https://github.com/Glowrare1" class="team-member" target="_blank">
      <img class="photo" alt="avatar-bordered" src="https://avatars.githubusercontent.com/u/162614328?v=4" />
    </a>
  </div>
  <div class="write-up">
    <p>
      Beyond traditional budget apps, ClearMoney is made for millennials who must navigate an increasingly
      complex financial landscape. Its innovative methodology turns budgeting into a fun activity. Users can witness the transformation
      of their financial picture through dynamic illustrations and real-time tracking. With its instant response, ClearMoney
      demystifies concepts like investment and debt. It helps users set and accomplish goals, so it's more than just a tool on the
      journey to financial independence. Additionally, ClearMoney provides instructional materials that ensure users can arm themselves
      with the financial knowledge they need to make wise choices. In essence, ClearMoney facilitates   individuals managing contemporary issues by streamlining money management. 🌟
    </p>
  </div>
</div>
