<div class="mt-5 about-us">
  <div class="heading text-center text-white"><h1>Meet the brilliant minds behind ClearMoney</h1></div>
  <div class="d-flex justify-content-around mt-5 flex-shrink-1">
    <a href="https://www.linkedin.com/in/devhalai/" class="team-member text-reset transparent-card" target="_blank">
      <img class="photo" src="https://avatars.githubusercontent.com/u/22123122?v=4" />
      <h4>Dev Halai</h4>
    </a>

    <a href="https://www.linkedin.com/in/lamarr-paul-9507bb15b/" class="team-member text-reset transparent-card" target="_blank">
      <img class="photo" src="https://avatars.githubusercontent.com/u/161642162?v=4" />
      <h4>Lamarr Paul</h4>
    </a>

    <a href="https://www.linkedin.com/in/oluwatosingilbert/" class="team-member text-reset transparent-card" target="_blank">
      <img class="photo" alt="avatar-bordered" src="https://avatars.githubusercontent.com/u/162614328?v=4" />
      <h4>Oluwatosin G. Gilbert</h4>
    </a>
  </div>
  <div class="write-up mb-5 text-center d-flex">
    <div class="px-5 fw-light">
      <p>
        Beyond traditional budget apps, ClearMoney is made for millennials who needs to navigate an increasingly
        complex financial landscape. Its interactive approach turns budgeting into a fun activity. Users can witness the transformation
        of their financial picture through dynamic illustrations and real-time tracking. With its instant response, ClearMoney
        demystifies concepts like investment and debt. It helps users set and accomplish goals, so it's more than just a tool on the
        journey to financial independence.
      </p>
      <p>
        Additionally, ClearMoney provides materials that ensure users can arm themselves
        with the financial knowledge they need to make wise financial choices. In essence, ClearMoney facilitates   individuals managing contemporary issues by streamlining money management. 🌟
      </p>
    </div>
  </div>
</div>
