<div>
  <div class="heading"><h2>Meet the brilliant minds behind Clearmoney</h2></div>
  <div class="team">
    <a href="https://github.com/zzdevzz" class="team-member" target="_blank">
      <img class="photo" src="https://avatars.githubusercontent.com/u/22123122?v=4" />
      <p>Dev Halil</p>
    </a>

    <a href="https://github.com/Lamarr1997" class="team-member" target="_blank">
      <img class="photo" src="https://avatars.githubusercontent.com/u/161642162?v=4" />
      <p>Lamarr Paul</p>
    </a>

    <a href="https://github.com/Glowrare1" class="team-member" target="_blank">
      <img class="photo" alt="avatar-bordered" src="https://avatars.githubusercontent.com/u/162614328?v=4" />
      <p>Oluwatosin Gloria Gilbert</p>
    </a>
  </div>
  <div class="write-up">
    <p>
      Beyond traditional budget apps, ClearMoney is made for millennials who needs to navigate an increasingly
      complex financial landscape. Its interactive approach turns budgeting into a fun activity. Users can witness the transformation
      of their financial picture through dynamic illustrations and real-time tracking. With its instant response, ClearMoney
      demystifies concepts like investment and debt. It helps users set and accomplish goals, so it's more than just a tool on the
      journey to financial independence. Additionally, ClearMoney provides materials that ensure users can arm themselves
      with the financial knowledge they need to make wise financial choices. In essence, ClearMoney facilitates   individuals managing contemporary issues by streamlining money management. 🌟
    </p>
  </div>
</div>
