<div id="main_layout">
  <div class="container" data-controller="actions">
    <div class="row pt-3 p-md-5">
      <%= render "shared/dashboard_actions" %>
      <turbo-frame id="content" class="col-lg-10">
        <%= render partial: "shared/show_user", layout: false  %>
        <!-- Initial content or a spinner/loader can go here -->
      </turbo-frame>
    </div>
  </div>
</div>
