<div id="main_layout">
  <div class = "container">
    <div class="row">
      <%= render "shared/dashboard_actions" %>
      <turbo-frame id="content" class="col-10">
        <%= render "shared/index", attribute: @investments %>
        <!-- Initial content or a spinner/loader can go here -->
      </turbo-frame>
    </div>
  </div>
</div>
