<div class="d-flex justify-content-between">
  <%= render "shared/dashboard_actions" %>
  <div class="card-container mt-5 row g-3 flex-sm-column w-25 p-3">
    <% @goals.each do |goal| %>
      <%= link_to("#", class: "col-12") do %>
        <%= render "/shared/card", item: goal %>
      <% end %>
    <% end %>
  </div>
</div>
