<h1>Find some educational resources to understand your personal finance</h1>
<div class="container">
  <div class="card-container">
    <p>Why is it important to invest early</p>
    <a href="https://www.bankrate.com/investing/millennial-guide-to-investing/">Understand the importance of investing early and the power of compounding interest</a>
  </div>

  <div class="card-container">
    <p>Financial planning, wealth building and financial independence</p>
    <a href="https://wealthnation.io/blog/financial-planning-for-millennials/">The significance of creating a financial plan tailored to individual goals and needs</a>
  </div>

  <div class="card-container">
    <p>Financial Literacy Courses</p>
    <a href="https://www.forbes.com/sites/forbesfinancecouncil/2018/03/28/money-101-for-millennials-seven-tips-for-improving-your-financial-literacy/">Money 101</a>
  </div>
</div>
