#aiicon{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  z-index: 1000;
}

.border-green-left{
  border-left: 2px solid $theme-green !important;
}

.glass {
  background: rgba(255, 255, 255, 0.1);  /* More neutral color, adjust opacity as needed */
  backdrop-filter: blur(10px) brightness(1.2) opacity(70%); /* Separate filters for clarity */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle shadow for depth, optional */
}
