.dashboard-actions {

  margin: 0;
  width: 100%;

  li {

    height: 100%;

    a{
      width: 100%;
      height: 100%;
      gap: 5px;
      display: flex;
      flex-direction: row;

      align-items: center;
      box-shadow: 0 2px 2px rgba($color: #000000, $alpha: 0.15);
      color: whitesmoke;

      i {
        font-size: 1rem;
        margin: 0 0.5rem;
      }

      h3{
        font-size: 1rem;
        margin: 0;
        font-weight: bold;
      }
    }

  }

}
