.flip-card {
  background-color: transparent;
  width: 100%;
  height: 450px;
  border-radius: 10px;
  // perspective: 1000px;
  padding: 1rem;
  display: flex;
  justify-content: space-around;

  h2{
    margin-bottom: 1rem;
  }
}

.external-link{
  color: rgb(7, 7, 65);
}

.external-link:hover{
  color: rgb(73, 142, 163)
}

/* This container is needed to position the front and back side */
.flip-card-inner {
   /* Remove this if you don't want the 3D effect */
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  transform-style: preserve-3d;
  transform-origin: center;
  padding: 0;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: 0.2);

}

.text-content{
  // background-color: $main-blue;
  color: #000000;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
  background-size: cover;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(80, 142, 242);
  transform: rotateY(180deg);
  padding: 10px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
  -webkit-box-orient: vertical;
}
