$footer-height: 50px;

.sticky-footer {
  min-height: calc(100vh - 50px);
}

.footer {
  background: $theme-purple;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $footer-height;
  padding: 0px 50px;
  color: rgba(245, 247, 249, 0.986);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a:not(.avatar-link) {
  color: black;
  opacity: 0.25;
  text-decoration: none;
  font-size: 34px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 2;
}
