:is(input, select).dark-form-input {
  // background-color: #343a40; /* Bootstrap's dark background */
  background-color: $theme-card-dark;
  color: white; /* White text */
  border-color: $theme-purple; /* Slightly lighter border */

  &:focus {
    background-color: $theme-card-dark;
    color: white;
    border-color: $theme-purple;
    outline: none; // Consider accessibility implications
  }
}
