:is(input, select).dark-form-input {
  // background-color: #343a40; /* Bootstrap's dark background */
  background-color: $theme-background-dark;
  color: white; /* White text */
  border-color: $theme-purple; /* Slightly lighter border */
}
