// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "flip_card";
@import "source_card";
@import "footer";
@import "dashboard_actions";
@import "about_us";
@import "card_container";
@import "home_credit_card";
@import "layout";
@import "form_dark";
@import "ai_icon";
@import "slider";
@import "scrollbar";

html {
  height: 100%;
}

.color-frame {
  width: 100%;
  height: fit-content;
  background: rgb(5,29,53);
  background-image: linear-gradient(0deg, rgba(5,29,53,1) 10%, rgba(0,89,127,1) 100%);
  background-size: 100% 100%;
}

.bb{
  box-sizing: border-box;
}
