.full-frame{
  height: 100vh;

  @media (min-width: 992px) {
    max-height: 1000px;
  }

}

.vh-lg-100 {
  max-height: 30vh;

  @media (min-width: 992px) {
    height: 100vh;

  }

  @media (min-width: 1400px) {
    height: 800px;
   }

}


// @media (min-width: 992px) {
//   .vh-lg-100 {
//     height: 700px;
//   }
// }

/* Optional: Ensure that height is auto or a different value on smaller screens */
// @media (max-width: 991px) {
//   .vh-lg-100 {
//     height: auto; /* or any other appropriate value */
//   }
// }
