.full-frame{
  height: calc(100vh - $navbar-height);

}

.light-mode {
  color: whitesmoke;
}

.transparent-card{
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: brightness(2) blur(1rem) contrast(1.5);
  color: #f1f1f1;
  border-radius: 2rem;
  transition: all 0.3s;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background: rgb(5,29,53);
  background: linear-gradient(0deg, rgba(0,89,127,.3) 10%, rgba(0,89,127,1) 100%);

  // background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(3.9px);
  border: 3px solid rgba(255, 255, 255, 0.26);

}
