$navbar-height: 50px;

.navbar-lewagon {
  justify-content: space-between;
  background: $theme-purple;
  box-shadow: 0 6px 4px rgba($color: #000000, $alpha: 0.25);
  color: whitesmoke;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-name{
  font-weight: 900;
  align-self: center;
  justify-self: center;
  display: inline-block;
}

.nav-item{
  max-width: max-content;
  // display: inline-block;
}
