$navbar-height: 50px;

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // height: $navbar-height;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-name{
  font-weight: 900;
  align-self: center;
  justify-self: center;
  display: inline-block;
}
