$timer: 0.25s;

div.source-card{
  border-radius: .5rem;
  box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
  transition: all $timer;
  background: rgba(0,89,127,.1);
  background: linear-gradient(40deg, rgba(0,89,127,.1) 10%, rgba(0,89,127,1) 100%);

  i{
    font-size: 1.5rem;
    transition: all $timer;
  }

  p, h3{
    font-weight: 500;
  }

  &:hover {
    box-shadow: 0 4px 4px rgba($color: gold, $alpha: 0.5);
    border-color: lightblue;
    i{
      color: gold;
    }
  }
}
